@import '../../../theme.scss';

.text{
  font-family: Barlow;
  display: grid;
  color: $textColor;
  line-height: normal;

  .intro{
    font-size: large;
  }

  .name{
    font-size: xxx-large;
    font-weight: 700;
  }

  .description{
    font-size: x-large;

  }
  .info{
    font-size: large;
    width: 70%;
  }

  .media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    .icon{
      width: 40px;
      height: 40px;
      margin: 0px 20px;
      border-radius: 5px;
      padding: 10px;
      color: $bgColor ;
      display: grid;
      place-items: center;
      background: $textColor;
      cursor: pointer;
      
    }
    .icon:hover{
        background: gray;
    }
  }
}