@import '../theme.scss';

.border-top{
  top: calc(5vh + 50px);
  left: 5vh;
  position: fixed;

}

.border-bottom{
  bottom: 5vh;
  right: 5vh;
  position: fixed;

}

.rectangle{
  height: 25vh;
  width: calc(25vh + 50px);
  @include respond-to(handhelds){
    height: 0vh;
    width: 0vh;
  }
  @include respond-to(medium-screens){
    height: 10vh;
    width: 10vh;
  }
  // background-color : red;
  
}
.top{
    border-top: solid thin $borderColor;
    border-left: solid thin $borderColor;
    
  }
  
.bottom{
    border-bottom: solid thin $borderColor;
    border-right: solid thin $borderColor;
    // position: absolute;
}