@import '../../theme.scss';

.navbar{
  position: fixed;
  width: 25%;
  right: 0;
  color: $textColor;
  margin-top: 2em;
  display: grid;
  place-items: center;
  font-family: Barlow;
  font-weight: 100;
  .item{
    grid-row: 1;
    
  }
  .item:hover{
    font-weight: 700;
  }
}

a{
  text-decoration: none;
  color: $textColor;
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
  }
}